Body {
	Margin: 0;
}

Main {
	Padding: 1em;
}



#Editor {
	Padding: 1em;
}

#Editor_Info {
	Display: Flex;
	Flex-Direction: Row;
	Align-Items: Baseline;
	Justify-Content: Space-Between;
}

#Editor_Info > Div {
	Width: 40%;
}