Body {
	Margin: 0;
}

Main {
	Padding: 1em;
}



#Editor, #Toolbar {
	Padding: 1em;
}

#Editor-Info, #Editor-Content {
	Display: Flex;
	Flex-Direction: Row;
	Justify-Content: Space-Between;
	Align-Items: Flex-Start;
}

#Editor-Info > Div {
	Width: 15%;
}

#Editor-Info > Div:nth-Child(2) {
	Width: 60%;
}

#Editor-Content > Div:First-Child {
	Flex: 1;
}

#Editor-Content-Album {
	Width: 20%;
	Margin-Left: 1em;
}

#Editor-Content-Album > Section:Not(.tabs) {
	Height: 100%;
}